*{margin:0;padding:0;}
.zhengdian{
	width: 100%;
	height: 40px;
	background: #fff;
	border-bottom:2px solid #ff3c3d; 
}
.zhengcon{
	width: 1200px;
	height: 40px;
	margin:0 auto;
}
.zhengcon a{
	display: block;
	width: 120px;
	height: 40px;
	font-size: 14px;
	font-weight: 800;
	line-height: 40px;
	color: #000;
	float: left;
}
.zhengcon a.teshu{
	color: #ff3c3c;
}
.tbanner{
	width: 100%;
	height: 350px;
	background: #880201;
}
.tbcenter{
	width: 1200px;
	height: 350px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
	transition: background .3s;
}
.tbcenter ul li{
	width: 1200px;
	height: 350px;
	float: left;
}
.tbcenter ul li img{
	width: 100%;
	height: 100%;
}
.tbzindex{
	width: 150px;
	height: 350px;
	background: #c55;
	position: absolute;
	top:0;left: 0;
	padding-top: 1px;
}
.tbzindex ul{
	width: 130px;
	height: 300px;
	margin:20px 10px;
}
.tbzindex ul li{
	width: 60px;
	height: 40px;
	float: left;
	margin-left: 4px;
}
.tbzindex ul li a{
	font-size: 12px;
	color: #fff;
}
.dbdug{
	width: 50px;
	height: 20px;
	position: absolute;
	right:20px;bottom:20px;
}
.dbdug a{
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background: #fff;
	float: left;
	border-radius: 50%;
}
.dbdug a.dbred{
	background: red; 
}

.coudan{
	width: 1200px;
	height: 431px;
	margin:30px auto;
	background: url(../img/tuanbg.png)no-repeat;
}
.coudanup{
	width: 1200px;
	height: 75px;
}
.coudanup p{
	width: 120px;
	height: 75px;
	margin-left: 45px;
	line-height: 75px;
	font-size: 24px;
	font-weight: 900;
	color: #fff;
	float: left;
}
.tnav{
	width: 600px;
	height: 75px;
	float: right;
}
.tnav a{
	display: block;
	width: 82px;
	height: 27px;
	border-radius: 10px;
	border:1px solid #fff;
	float: left;
	margin-left: 50px;
	margin-top:23px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 27px;
}
.tnav a.tuanteshu{
	color: #ee427d;
    background-color: #fff;
}
.coudanxia{
	width: 1160px;
	height: 300px;
	margin-left: 20px;
	margin-top: 10px;
	background: #fff;
	position: relative;
}
.coudanxia>div{
	width: 1160px;
	height: 300px;
	position: absolute;
	top:0;left:0;
}
.coudanxia>div ul li{
	width: 210px;
	height: 298px;
	margin-left: 20px;
	float: left;
	cursor: pointer;
}
.coudanxia>div ul li img{
	width: 210px;
	height: 210px;
}
.coudanxia>div ul li p.onep{
	width: 100%;
	height: 40px;
	color: #464646;
    font-size: 16px;
    margin: 3px 0;
    overflow: hidden;
}
.coudanxia>div ul li p.twop{
	width: 100%;
	height: 40px;
	margin-top:5px;
	font-size: 22px;
	font-weight: 500;
	color: #ff3c3c;
}
/*首选*/
.shouxaun{
	width: 1200px;
	height: 1600px;
	margin:0 auto;
}
.shouxaun h3{
	width: 1200px;
	height: 60px;
	color: red;
}
.shouxaun h3 span{
	color: #000;
	font-size: 12px;
	margin-left: 10px;
	line-height: 60px;
	font-weight: 200;
}
.shouxaun ul{
	margin-top: 20px;
	width: 1200px;
	height: 1500px; 
}
.shouxaun ul li{
	width: 390px;
	height: 490px;
	margin-right: 10px;
	margin-top:10px;
	float: left;
	background: #fff;
}
.shouxaun ul li img{
	width: 390px;
	height: 390px;
}
.shouxaun ul li:hover a{
	background: #be2e2e;
}
.shouxaun ul li:hover p{
	color:#fff;
}
.shouxaun ul li:hover strong{
	color:#fff;
}
.shouxaun ul li:hover span{
	color:#fff;
}
.shouxaun ul li a{
	display: block;
	width: 100%;
	height: 96px;
	transition: background .3s;
}
.shouxaun ul li a p{
	height: 40px;
	overflow: hidden;
	color:#464646;
	font-size: 16px;
	margin:0 10px;
}
.shouxaun ul li a strong{
	font-size: 36px;
	margin-left: 10px;
	font-weight: 400;
	color: #ff3c3c;
}
.shouxaun ul li a span{
	font-size: .9em;
	color: #ccc;
}
.footer{
	width: 100%;
	height: 450px;
	background: #fff;
	margin-top:20px;
}
.footbg{
	width: 1200px;
	height: 450px;
	margin:0 auto;
	background: url(../img/foot.png) no-repeat;
}